.coin_search {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.coin_search form {
  display: flex;
  align-items: center;
}

.coin_input {
  margin-right: 8px; /* İki öğe arasına boşluk eklemek için */
}

.coin_search button {
  padding: 10px;
}
.coin_input {
  background: white;
  color: black;
  border: none;
  padding: 16px;
  border-radius: 4px;
  outline: none;
  height: 100%;
  width: 100%;
}

.coin_input::placeholder {
  color: black;
}
